body {
    background: black !important;
  }
  
  .something {
    background: white;
  }
  
  .container {
    margin-top: 3em;
  }
  
  table, .jumbotron {
    border: 3px solid gray !important;
  }